@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.popup::-webkit-scrollbar {
  width: 1em;
}

.popup::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.popup::-webkit-scrollbar-thumb {
  background-color: #4158d0;
  background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
  outline: 1px solid #4158d0;
}

body {
  background-color: #f1faee;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(111,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(24,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='8.25'%3E%3Cpath transform='translate(-46.2 4.4) rotate(1.0999999999999996 1409 581) scale(0.988274)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='2.75' transform='translate(-49.5 33) rotate(4.3999999999999995 800 450) scale(1.0059449999999999)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(12.100000000000001 -49.5) rotate(38.5 401 736) scale(1.0059449999999999)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='2.5'%3E%3Cpath transform='translate(198 -2.200000000000001) rotate(0.5500000000000003 150 345) scale(0.9887579999999999)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='5.5' transform='translate(-71.5 -88) rotate(39.6 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-136.4 39.6) rotate(6.6 1400 132) scale(0.945)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  font-family: "Poppins", sans-serif;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

.mobile-container {
  background-color: #ffffff;
  width: 400px;
  -webkit-box-shadow: 0 0 10px 2px #3333331a;
          box-shadow: 0 0 10px 2px #3333331a;
  border-radius: 10px;
  overflow: hidden;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

header input {
  background-color: #f1faee;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  width: 300px;
  outline: none;
  font-family: inherit;
}

header input:focus {
  border: 1px solid #1d3557;
}

header button {
  background-color: transparent;
  border: none;
  color: #1d3557;
  font-size: 1.5rem;
  margin-left: 10px;
  cursor: pointer;
}

.fav-container {
  background-color: #4158d0;
  background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
  padding: 1rem;
  text-align: center;
}

.fav-container h3 {
  color: white;
  font-weight: 600;
}

.fav-meals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  padding: 0;
}

.fav-meals li {
  position: relative;
  margin: 5px;
  width: 75px;
  color: white;
}

.fav-meals li:hover .clear {
  opacity: 1;
}

.fav-meals li img {
  border: 2px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px 2px #3333331a;
          box-shadow: 0 0 10px 2px #3333331a;
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
}

.fav-meals li .clear {
  color: #e63946;
  cursor: pointer;
  border: none;
  background-color: transparent;
  position: absolute;
  opacity: 0;
  top: -0.6rem;
  right: -0.6rem;
  font-size: 1.2rem;
}

.fav-meals li span {
  font-size: 0.9rem;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 75px;
}

.meals {
  margin: 1.5rem;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 10px 2px #3333331a;
          box-shadow: 0 0 10px 2px #3333331a;
  overflow: hidden;
}

.meal-header {
  position: relative;
}

.meal-header img {
  height: 250px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.meal-header .random {
  position: absolute;
  top: 1rem;
  background-color: #fff;
  padding: 0.25rem 1rem;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #4158d0;
  background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
  color: white;
  font-weight: 600;
}

.meal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
}

.meal-body h4 {
  margin: 0;
}

.meal-body .fav-btn {
  border: none;
  font-size: 1.2rem;
  background-color: transparent;
  color: #cec0c0;
  cursor: pointer;
}

.meal-body .fav-btn.active {
  color: #e63946;
  font-size: 1.5rem;
}

.popup-container {
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.popup {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 0 2rem;
  position: relative;
  overflow: auto;
  max-height: 100vh;
  max-width: 800px;
  width: 100%;
}

.popup::-webkit-scrollbar {
  width: 1rem;
}

.popup::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.popup::-webkit-scrollbar-thumb {
  background-color: #4158d0;
  background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
  outline: 1px solid #4158d0;
}

.popup img {
  border-radius: 20px;
}

.popup h1 {
  text-align: center;
  color: white;
  font-weight: 600;
  background-color: #4158d0;
  background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
  border-radius: 20px;
}

.popup .close-popup {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 0.1rem;
  right: 0.02rem;
  color: #e63946;
}
/*# sourceMappingURL=style.css.map */